{% extends 'catalog/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
        <div class="row">

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary"> Изменить </button>
                        <a class="btn btn-secondary"> Вернуться </a>
                    </div>
                </div>
        </div>
    </form>
    </div>
</div>
{% end block %}
